<footer class="footer bg-dark py-3 mt-auto"> <!-- py is padding on y-axis top and bottom -->
    <div class="container">
        <span class="text-secondary">&copy; YELPCAMP 2025</span>
    </div>
</footer>